body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.img_head{
  width:80px;
  height: auto;
  margin: 3px;
}

header > span{
  margin-left: 50px;
  font-size: 20px;
  color: black;
}

.foot{
  display:flex;
  justify-content: center;
}

.head{
  display:flex;
  justify-content: center;
}

.body{
  display:flex;
  justify-content: center;
}

input{
  width: 40%;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}